<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953761043201-8rvdc40l0imug6dadue2sr8qord6vuts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953761043201-8rvdc40l0imug6dadue2sr8qord6vuts</string>
	<key>API_KEY</key>
	<string>AIzaSyAO0PFp7aBEDn3nFatts3JrSh56QB2B7nY</string>
	<key>GCM_SENDER_ID</key>
	<string>953761043201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.estatepay</string>
	<key>PROJECT_ID</key>
	<string>estatepay-77ada</string>
	<key>STORAGE_BUCKET</key>
	<string>estatepay-77ada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953761043201:ios:28234b42f9ed84a4468100</string>
</dict>
</plist>